/* SEB */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


::-webkit-input-placeholder {
   color: #8A98AC;  
}

:-moz-placeholder { /* Firefox 18- */
   color: #8A98AC;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #8A98AC;  
}

:-ms-input-placeholder {  
   color: #8A98AC;  
}
*{
    margin: 0px;
    padding: 0px;
}
 .wf-loading {
    visibility: hidden;
    opacity: 0;
   
  }

  .wf-active, .wf-inactive {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;;
    transition: all 0.8s;
  }

body, html{
  height: 100%;
}
a {
  color: #000000;
 
}
a:hover {
  color: #000000;
}
a:focus {
  outline: none;
}
input:focus {
  outline: none;
}
body {
  font-family: "sofia-pro", Helvetica, sans-serif;
  font-size: 17px;
  height: 100%;
  color: #1A1A1A;
  font-weight: 400;
  background-color: #C8CCCE;
  -webkit-font-smoothing: antialiased;
  overflow-x:hidden;
}
ul {
  margin-left:0px !important;
}
h1,h2,h3,h4,h5,h6 {
   font-weight: normal;
}

p {


}


/* TOP HEADER */
header {
  position: relative;
  background-color: #FFF;
  padding-top: 17px;
  -webkit-box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.75);
}
.logo {
  width: 240px;
  padding-bottom: 20px;
}
.logo img {
  width: 100%
}
.header-right {
  text-align: right;
}
.school-name {
  display: inline-block;
  vertical-align: top;
  color: #102855;
  line-height: 43px;
}
.logout-in {
   text-align: center;
   border-left: 1px solid #AEB0B4;
   display: inline-block;
   vertical-align: top;
   margin-left: 26px;
  padding-left: 26px;
}
.logout-in img {
  width: 25px;
  display: inline-block;
}
.logout-in span {
   font-size:14px;
   color:#AEB0B4;
       margin-top: 9px;
   display: block;
}
.sub-header {
  background-color: #F7F7F7;
  padding-top: 22px;
}
.top-line {
  font-size: 26px;
  color: #202D53;
  padding-bottom: 15px;
  border-bottom: 1px solid #B3B3B3;
  padding-left: 25px;
}
.top-line span {
  vertical-align: top;
  display: inline-block;
  margin-right: 40px;
  font-weight: 700;
}
.dot-result {
  display: inline-block;
  vertical-align: top;
}
.text-result {
  border-left: 1px solid #B3B3B3;
  vertical-align: top;
  display: inline-block;
  font-size: 20px;
  padding-left: 35px;
  margin-left: 35px;
  margin-top: 4px;
  
}
.text-result span {
  font-weight: 300 !important;
}
.dot-perf {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #D9D9D9;
  border-radius: 50%;
}
.result-performance-header {
  vertical-align: top;
  display: inline-block;
}
.dot-perf.active { 
  background-color: #E74E0F;
}
.second-line {
  padding-top: 20px;
  padding-left: 35px;
}
.second-line p {
  color: #102855;
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 600;
}
.second-line span {
  color: #E54F22;
}

/* MAIN CONTENT */
.main {
  padding-top: 70px;
  padding-bottom: 70px;
}
.box-row {
  margin-bottom: 35px;
}
.content-info-box {
      position: relative;
  background-color: #FFF;
  height: 420px;
  -webkit-box-shadow: 3px 3px 8px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 8px -5px rgba(0,0,0,0.75);
box-shadow: 3px 3px 8px -5px rgba(0,0,0,0.75);
 padding: 24px;
 text-align: center;
}
.content-info-box-long {
  background-color: #FFF;
  -webkit-box-shadow: 3px 3px 8px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 8px -5px rgba(0,0,0,0.75);
box-shadow: 3px 3px 8px -5px rgba(0,0,0,0.75);
}
.columns.nopadding {
  padding-left: 0;
  padding-right: 0;
}



/* Electricity cost */

.electricity-cost .title-box {
  font-size: 22px;
  color: #202D53;
  font-weight: 700;
}
.electricity-cost .sub-title-box {
  font-size: 17px;
  color: #202D53;
}
.top-content-box {
 
  padding-bottom: 20px;
    margin-bottom: 12px;
}
.electricity-cost {
   font-size: 47px;
   color: #E74E0F;
}
.middle-center {
  text-align: center;
}
.data-elec {
  width: 90px;
  margin: 0px auto auto;
}
.year-elec {
  font-size: 43px;
  color: #202D53;
  font-weight: 700;
}
.bottom-content-box .sub-title-box {
  font-weight: 600;
}
.electricity-cost-number {
  font-weight: 700;
}
.dollar-elec {
   height: 26px;
   width: 26px;
   border-radius: 50%;
   border: 2px solid #102855;
   display: inline-block;
   vertical-align: top;
    margin: 2px;
    float: left;
}
.dollar-elec img {
  position: absolute;
    width: 10px;
    margin: 2px -5px auto;
}
.valign-center {
      display: table;
        margin-top: 30px;
      width: 107% !important;
}
.valign-center .columns {
          display: table-cell;
          vertical-align: bottom;
      }
.valign-center .columns.middle-center {
          vertical-align: middle;
  }

.valign-center .columns, .valign-center  [class*="column"] + [class*="column"]:last-child {
          float: none;
  }
  .valuepercent img {
    width: 20px;
    display: inline-block;
    float: left;
    padding-top: 7px;
    margin-right: 5px;
  }
 .valuepercent span {
  font-size: 30px;
  width: 24px;
  font-weight: 600;
    display: inline-block;
    vertical-align: top;
    float: left;
 }
.electricity-cost {
  padding-top: 10px;
}
#cost-panel .top-content-box {
        padding-top: 2px;
}
.dateconsumed {
  font-weight: 600;
  color: #E74E0F;
}
.electricity-cost-target span {
  font-weight: 700 !important;
}

/* Target */
.horizontal-batterie img {
  width: 255px;
}
.conkwh {
  color: #202D53;
  font-weight: 700;
  font-size: 47px;
  margin-top: 20px;
}
.electricity-cost-target {
  margin-bottom: -10px;
}
.electricity-cost-target img {
  width: 27px;
  display: inline-block;
  vertical-align: top;
     padding-top: 15px;
    margin-right: 10px;
}
.electricity-cost-target span {
  font-size: 45px;
  color: #E74E0F;
  display: inline-block;
   vertical-align: top;
}
#target-panel .horizontal-batterie {
      margin: 10px auto auto;
    position: relative;
    width: 250px;
}
.battery-cons-charged img {
  width: 28px;
}
.battery-cons-charged {
  position: absolute;
    top: 12px;
       left: 12px;
}
.battery-cons-charged .charge {
     display: inline-block;
}
.charge.c10 {
 opacity: 0;
}
.charge.c25 {
  opacity: 0;
}
.charge.c50 {
  opacity: 0;
}
.charge.c75 {
 opacity: 0;
}
.charge.c90 {
 opacity: 0;
}
.charge.c100 {
opacity: 0;
}




.batterie {
  position: relative;
}
.battery-cons-charged-vert img {
  width: 18px !important;
}
.battery-cons-charged-vert {
  position: absolute;
     bottom: 6px;
    left: 63px;
}
.battery-cons-charged-vert .charge {
       display: block;
       margin-bottom: 2px;
    height: 19px;
         -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.charge.cv10 {
 opacity: 0;
}
.charge.cv25 {
  opacity: 0;
}
.charge.cv50 {
  opacity: 0;
}
.charge.cv75 {
 opacity: 0;
}
.charge.cv90 {
 opacity: 0;
}
.charge.cv100 {
opacity: 0;
}
.percent {
      margin-left: 10px;
}
/* TIME WEATHER */
.clock {
  color: #202D53;
  font-size: 100px;
      margin-top: 40px;
    line-height: 95px;
    font-weight: 700;
}
.todaysdate {
  font-weight: 600;
  color: #E54E0F;
}
.weatherbox {
  float: left;
  width: 100%
}
.weather {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-top: 20px;
  float: left;
  text-align: center;
}
.temp {
  float: left;
   padding-top: 15px;
   display: inline-block;
   vertical-align: top;
   width: 50%;
   text-align: left;

    border-left: 1px dashed #B3B3B3;
}
.weather img {
  width: 100px;
  display: none;
}
#weather-panel .top-content-box {
  margin-bottom: 0px;
      min-height: 215px; 
}
.temp-max {
  border-bottom: 1px dashed #B3B3B3;
}
.temperature-max {
  padding-left: 20px;
  color: #48B833;
  font-size: 30px;
  font-weight: 300;
     padding-bottom: 15px;
}
.temperature-max span {
  font-size: 17px;
   padding-left: 20px;
  color: #1A1A1A;
  font-weight: 400;
  text-transform: uppercase;
}
.temperature-min {
padding-left: 20px;
 font-weight: 300;
  color: #E74E0F;
     padding-bottom: 15px;
    padding-top: 15px;
  font-size: 30px;
}
.temperature-min span {
  font-size: 17px;
   font-weight: 400;
   padding-left: 20px;
   color: #1A1A1A;
  text-transform: uppercase;
}
#weather-panel .bottom-content-box {
   border-top: 1px dashed #B3B3B3;
  position: absolute;
    width: 100%;
    bottom: 20px;
    padding-bottom: 5px;
    margin: 0px auto auto;
    text-align: center;
    left: 0px;
    background-color: #FFF;
    height: 140px;
    padding-top: 0px;
}



/* RANK PANEL */
#rank-panel.content-info-box {
  padding:0;
  background-color: #FF8D13;
}
.bottom-content-box {
   border-top: 1px dashed #B3B3B3;
  position: absolute;
    width: 100%;
    bottom: 0px;
    padding-bottom: 5px;
    margin: 0px auto auto;
    text-align: center;
    left: 0px;
    background-color: #FFF;
    height: 120px;
    padding-top: 20px;
}
.date-started {
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
}
.rank-img {
  width: 145px;
  margin-top: 20px;
}
.position-rank {
  color: #FFF;
   font-weight: 700;
    margin-top: 10px;
  font-size: 45px;
}
.inkwh {
  font-weight: 600;
}
#rank-panel {
  color: #FFF;
}
#rank-panel .top-content-box {
  border-bottom: 0;
  padding-bottom: 0px;
  margin-bottom: 0px;
     padding-top: 12px;
}
#rank-panel .bottom-content-box {

}
.motivation {
  color: #4D4D4D;
    margin-bottom: 8px;
  font-size: 26px;
}
.placement {
  font-weight: 700;
  color: #1A1A1A;
}
.placement span {
  color: #E74E0F;
}
.placement .arrow {
  width: 15px;
  margin-right: 6px;
  display: inline-block;
}
.placement .arrow.down{
  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}



/* CONSUMPTION PANEL */
#consumption-panel .title-box {
 font-size: 22px;
  color: #202D53;
  font-weight: 700;
}
.batterie-man {
    margin-top: 30px;
    padding-bottom: 18px;
}
.man {
  text-align: right;
}
.man img{
  width: 57px;
}
.batterie img{
  width: 75px;
}
.batterie{
  text-align: left;
}

/* SAVE PANEL */
#save-panel  .title-box {
 font-size: 22px;
  color: #202D53;
  font-weight: 700;
}
#save-panel .sub-title-box {
    font-size: 17px;
    color: #E74E0F;
   font-weight: 600;
}
.clock-img img {
  width: 125px;
  position: relative;
    z-index: 3;
}
.title-box-bigger {
  font-size: 25px;
  color: #202D53;
  font-weight: 600;
}
.clock-img {
      margin-top: 15px;
   margin-bottom: 8px;
   position: relative;
}
.center {
  text-align: center;
}
#save-panel .bottom-content-box {
  padding-top: 0px;
}
.ttcomp {
  padding-top: 15px;
}
.green span {
  color: #48B833;
}
.consumption, .thanmonth {
  color: #000000 !important;
}


/* BOTTOM TILE */
.content-info-box-long {
  padding: 40px;
}
.bell-forget img {
  width: 100px;
  vertical-align: top;
    display: inline-block;
}
.bell-forget span {
  font-size: 40px;
  padding-left: 25px;
  font-weight: 700;
  color: #202D53;
  line-height: 95px;
    vertical-align: top;
    display: inline-block;
}
.sep-line {
   border-left: 1px dashed #B3B3B3;
    border-right: 1px dashed #B3B3B3;
}
.advice-img {
  text-align: center;
}
.advice-img img{
  display: inline-block;
  width: 90px;
  margin: 0px 10px;
}
.text-advice {
  padding: 10px 0px 0px 40px;
}
.text-advice p {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.valuepercent {
  display: inline-block;
}
/* FOOTER */
footer {
  background-color: #1F2C54;
  padding-top: 25px;
  padding-bottom: 25px;
}
.logo-footer img {
  width: 240px;
}

























/* CLOCK ANIMATION */
.pie {
  position: absolute;
  top: 8px;
  color: #FFF;
      left: 50%;
    margin-left: -55px;
}
@keyframes fillup {
  from { stroke-dasharray: 0 100; }
}

svg {
  width: 110px; 
  height: 110px;
  transform: rotate(-90deg);
  background: #fff;
  border-radius: 50%;
}

circle {
  fill: #FFF;
  stroke: #E74E0F;
  stroke-width: 32;
  stroke-dasharray: 0 100; /* for 75% */
  animation: fillup 1s ease-out forwards;
}

/* GENERAL ANIMATION */

.animation-element {
 /* opacity: 0;*/
  position: relative;
}

.bounce-up {
  opacity: 0;
  -moz-transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view  {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


.bounce-upcol1 {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.in-view .bounce-upcol1  {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.bounce-upcol2 {
  opacity: 0;
  -moz-transition: all 800ms ease-out;
  -webkit-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.in-view .bounce-upcol2  {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.bounce-upcol3 {
  opacity: 0;
  -moz-transition: all 900ms ease-out;
  -webkit-transition: all 900ms ease-out;
  -o-transition: all 900ms ease-out;
  transition: all 900ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.in-view .bounce-upcol3  {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px); 
}
.bounce-upcol4 {
  opacity: 0;
  -moz-transition: all 1000ms ease-out;
  -webkit-transition: all 1000ms ease-out;
  -o-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.in-view .bounce-upcol4  {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}











/*MEDIA QUERIES */

@media (min-width: 1551px) {
    .container{
        width: 1730px !important;
    }
    .col-lg-4 {
    width: 25% !important;
    }
    .col-xl-6 {
      width: 50% !important;
    }
    footer {
      display:none;
    }
    .bell-forget img {
      width: 191px !important;
      margin-bottom: 20px;
          margin-top: 30px;
    }
    .large-center {
      text-align: center !important;
    }
    .content-info-box-long {
      min-height: 420px !important;
    }
    .sep-line {
        border-left: 0px dashed #B3B3B3 !important; 
        border-right: 0px dashed #B3B3B3 !important;
    }
    .sep-line-large {
       border-right: 1px dashed #B3B3B3 !important;
    }
    .advice-img {
      margin-left: 20px !important;
      width: 100%;
      margin-bottom: 30px;
       margin-top: 15%; 
    }
    .second-line {
      display: inline-block;
          padding-top: 0px;
          float: right;
    }
    .top-line {
      display: inline-block;
      border-bottom: 0px solid #B3B3B3;
    }
}

@media (min-width: 1550px) {
    .container{
        width: 1330px;
    }
  
}
@media (min-width: 1200px) {
 .container{
        width: 1330px;
    }
  }



@media screen and (max-width: 1201px) {
  .advice-img img {
    display: inline-block;
    width: 60px;
  }
  .bell-forget img {
    width: 60px;
   }
   .bell-forget span {
    font-size: 27px;
    line-height: 55px;
   } 
   .text-advice {
    padding: 3px 0px 0px 40px;
    }
   .text-advice p {
    color: #000000;
    font-size: 12px;
    line-height: 17px;
  } 


   .valuepercent span {
    font-size: 24px;
    width: 28px;
  }
  .valuepercent img {
    padding-top: 2px;
}
.valuepercent .percent {
    margin-left: 0px;
  }  
  .content-info-box {
    padding: 13px;
  }
  .date-started {
    color: #FFF;
    font-size: 18px;
  } 
  #consumption-panel .title-box, #consumption-panel .title-box, #save-panel .title-box {
    font-size: 18px;
    color: #202D53;
} 

.title-box-bigger {
    font-size: 22px;
    color: #202D53;
}
}  

@media screen and (max-width: 1025px) {

}

/* MOBILE MENU BREAKING POINT */
@media screen and (max-width: 991px) {
  header {
    padding-bottom: 10px;
  }  
  .top-line {
    padding-left: 0px;
  }
  .second-line {
    padding-top: 20px;
    padding-left: 0px;
 }
 .header-right {
    text-align: left;
 }
 .top-line span {
    padding-bottom: 10px;
 }
 #consumption-panel .valign-center {
  width: 100% !important;
 }
 #consumption-panel .valign-center .columns {
  display: inline !important;
 }
 .bell-forget {
  text-align: center;
  margin-bottom: 20px;
 }
 .bell-forget img {
    width: 90px;
} 
.bell-forget span {
    font-size: 40px;
    line-height: 88px;
}
.advice-img img {
    display: inline-block;
    width: 90px;
}
.sep-line {
    border-left: 0px dashed #B3B3B3;
    border-right: 0px dashed #B3B3B3;
}
.text-advice {
    padding: 20px 0px 0px 0px;
    text-align: center;
}
.text-advice p {
    font-size: 20px;
    line-height: 24px;
}
}


@media screen and (max-width: 769px) {
  

}


@media screen and (max-width: 681px) {
 
}

@media screen and (max-width: 581px) {
  .second-line p {
    font-size: 18px;
    margin-bottom: 15px;
   }
   .second-line span {
    font-size: 18px;
   }
   .top-line span {
    font-size: 18px;
    }
    .result-performance-header {
    font-size: 18px;
  }
    .dot-result {
      margin-top: 5px;
  }  

}
@media screen and (max-width: 421px) {
 .advice-img img {
    width: 115px;
    margin-bottom: 15px;
}
}
@media screen and (max-width: 376px) {
  .logout-in {
    margin-left: 15px;
    padding-left: 15px;
}
 
}
@media screen and (max-width: 321px) {
  .valign-center {
    width: 110% !important;
  }
 .school-name {
    font-size: 13px;
  }
  .top-line span {
    font-size: 14px;
 }
  .dot-perf {
    width: 28px;
    height: 28px;
  }
  .second-line p {
    font-size: 14px;
  }
  .bell-forget span {
    font-size: 27px;
    line-height: 60px;
    padding-left: 0px;
  }  
  .advice-img img {
    width: 90px;
    margin-bottom: 10px;
  }
  .content-info-box {
    height: 405px;
   }
}   